<html>

<head>Clases de Css </head>

<body>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>

  <h1 id="titulo">Lorem</h1>
  <div id="descripcion">
    <p class="parrafo parrafo1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, molestias voluptatem? Temporibus distinctio
      quis similique est, reiciendis maiores, quidem sapiente et eos velit voluptatum. Quia vero sapiente ducimus
      corrupti dicta.
    </p>
    <p class="parrafo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum minus quo eius fugiat provident enim laudantium
      beatae facere fugit quae. Sit eius maiores, nam quisquam voluptate iste aliquam expedita officiis?
    </p>
    <p class="parrafo parrafo3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt reiciendis vero, ullam labore animi, consectetur
      culpa suscipit itaque ducimus est nobis deleniti placeat quis eius adipisci quisquam repellat optio dolorum.
    </p>

  </div>

</body>

</html>